 /* Main container for the rings */
 .boxes {
   display: flex;
   justify-content: space-around;
   /* Distribute rings evenly */
   align-items: center;
   height: 100vh;
   /* Full height of the viewport */
   background-color: #f0f0f0;
   /* Light background for contrast */
 }

 /* Style for each ring */
 .box {
   width: 120px;
   /* Diameter of the outer ring */
   height: 120px;
   border: 10px solid;
   /* Thickness of the ring */
   border-radius: 50%;
   /* Make it circular */
   position: relative;
   /* For positioning inner circle */
   display: flex;
   justify-content: center;
   align-items: center;

 }

 /* Colors for the rings */
 .box1 {
   border-color: red;
   left: 540px;
   bottom: -94px;
 }

 .box2 {
   border-color: blue;
   left: 187px;
   z-index: 20;
 }

 .box3 {
   border-color: green;
 }

 .box4 {
   border-color: yellow;
   right: 187px;
   z-index: 20;
 }

 .box5 {
   border-color: violet;
   right: 540px;
   bottom: -94px;

 }

 /* Inner circle */
 .inner-circle {
   width: 80px;
   /* Diameter of the inner circle */
   height: 80px;
   background-color: #f0f0f0;
   /* Match the background color */
   border-radius: 50%;
   /* Make it circular */
 }